html {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  background:white;
	color:black
} 
body {
	text-align: center;
	margin: 2px;
	
	/* Se ha usado flexbox en columnas pero podría haberse obviado porque es como se posicionan por defecto las etiquetas semánticas */
	display: flex;
	flex-direction: column;
}

main{
	background-color: rgb(238, 227, 171);
	color: #000;
	border-radius: 2px;
	padding: 2px;
	font-size: 1.5rem;
}
.presentacion {
  display: flex;
  align-items: flex-start;
  background-color: #f0ecd3;
  padding: 2rem;
  border-radius: 10px;
  gap: 2rem;
}

/* Imagen ocupa una columna (1 parte del espacio total) */
.presentacion img {
  flex: 1;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

/* Texto ocupa el doble (2 columnas) */

.presentacion  {
  display: flex;
  flex-direction:column;
  flex: 2;
  text-align: right;
  line-height: 1.8rem;
  color: #222;
}

/* Para que todo el texto fluya en columna */

.presentacion p {
  display: block;
}


 article{
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color:#dc9e33
 }

/* Estilos de la cabecera */

header {
  background-color: #8b6508; /* marrón cálido */
  padding: 1rem 2rem;
  color: #ecd896;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el título */
  position: relative;
  padding: 1rem 0;
}
/* --- PARTE SUPERIOR: LOGO + TÍTULO --- */
.header-top {
  display: flex;
  align-items: center;
  justify-content: center; /* centra el título */
  position: relative;
}

/* Logo a la izquierda */
.logo {
  position: absolute;
  left: 0;
  width: 250px;
  height: auto;
  width: 10rem;
  height: 4rem;
}


/* --- TÍTULO --- */
.header-top h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #f0ecd3;
}

/* --- NAV: EN LÍNEA --- */
nav {
  margin-top: 0.5rem;
  text-align: center;
  background-color: #e1dc57; /* azul oscuro o turquesa */
  border-radius: 5px;
  padding: 0.3rem 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

nav ul li a:hover {
  color: #fff;
}
/* Estilos del bloque main */
main {
	padding-right: 1.5rem;
	border-radius: 2px;
  }

  /* Imagen float y texto alrededor */
.imagen-float {
	width: 28%;
	float: left;
	margin:1rem 1rem;
}

.texto {
	padding-left: 1rem;
	text-align: justify ;
	line-height: 2rem;;
}

.fin-float {
	clear: both;
}

/* Información sobre los ciclos */
article {
	background-color: rgb(232, 214, 164);
	border-radius: 10px;
	font-size: 1.2rem;

	/* propiedad para visualizar en línea */
	display: inline-block;
	margin: 5px;
	margin-bottom: 25px;
	padding-right: 25px;
}

article ul li {
	text-align: left;
}

/* Posicionamiento fixed para la flecha */
.fijado {
	position: fixed;
	bottom: 0.6rem;
	right: 0.6rem;
	height: 5rem;
	width:5rem;
	background-color: rgb(118, 65, 4);
}